<%- include('../partial/head')%>  <!-- we use - when we use include function and the value that we want to pass for pagetitle variable is passed in userrouter folder where we use res.render for home -->
</head>
<header>
   <h1 class="text-red-700 text-4xl">welcome to homerenter</h1>
   <a class="bg-red-300"href="/add-home ">Add Home</a>
</header>
<body>
 
  <h2 class="text-blue-300 text-3xl">here are registered homes:</h2>
  <ul>
    <% for(let elements of registeredhomes){%>

      <li> 
  <img src="<%=elements.houseimage%>">
       <h1>HOUSENAME=<%=elements.houseName %></h1>
        <h1>LOCATION=<%=elements.location%></h1>
        <h1>PRICE=<%=elements.price%></h1>  
      </li> 
<div> 
  <button class="bg-green-300">book now</button>
</div>
  
      

    <% } %>
  
    
   
</body>
</html>